<% include header.ejs %>
<style>
    body {
        color: aliceblue;
    }
</style>
<div class="container marketing">
    <div class="titolo" style="padding-top: 10em;">

        <h2>Vetrina Immobili</h2>
        <h5>Non tutti gli Immobili in vendita sono visibili, nel pieno rispetto della volontà dei Clienti.
            
            Vengono pertanto proposti mediante un'attività di consulenza Personalizzata</h5>
    </div>

<% include featurette.ejs %>
</div>
<% include footer.ejs %>