<% include header.ejs %>

<div class="container marketing" style="padding-top: 5em;">

<div class="row">
    <% news.forEach(function(doc){ %> 

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
            <img src="images/foto_news/<%= doc._id %>/<%=doc.image %>" style="width: 100%;height: auto;">
        </svg>
        
        <div class="card-body">
          <p class="card-text"> <%= doc.titolo %>   <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
               <a href="/new/<%= doc._id %>"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
              <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
            </div>
            <small class="text-muted"><!--qui va la data di inserimento --></small>
          </div>
        </div>
      </div>
    </div>
   <%})%>
</div>

</div>

<% include footer.ejs %>